.Wrapper {
  margin-top: 60px !important;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 40px;
}

.ContentWrapper {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 20px));
  justify-content: space-between;
}

.SubWrapper {
  height: 141px;
  background: #f5f7f9;
  box-shadow: 0 0.783403px 0.783403px 0 rgba(0, 0, 0, 0.004),
    0 1.92107px 1.92107px 0 rgba(0, 0, 0, 0.01),
    0 3.63429px 3.63429px 0 rgba(0, 0, 0, 0.024),
    0 6.35486px 6.35486px 0 rgba(0, 0, 0, 0.04),
    0 11.0474px 11.0474px 0 rgba(0, 0, 0, 0.07);
  border-radius: 19px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.SubWrapper:hover {
  background: #314491;
}

.ClientBg {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  background: #eeeeee;
  border-radius: 10px;
}

.SubWrapper:hover .ClientBg {
  background: rgba(226, 223, 231, 0.07);
}

.Heading24px {
  font-weight: 700;
  font-size: 24px;
  color: #1e1e1e;
}

.SubWrapper:hover .Heading24px {
  color: #fff;
}

.SubWrapper:hover .Svg {
  fill: #fff;
}

.Svg {
  fill: #1e1e1e;
  width: 66px;
}

.Body24px {
  font-weight: 300;
  font-size: 18px;
  color: #818386;
}
.SubWrapper:hover .Body24px {
  color: rgba(255, 255, 255, 0.7);
}

.TextWrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 13px;
}

.Browse {
  max-width: 950px;
  height: 101px;
  background: #f5f7f9;
  box-shadow: 0 0.783403px 0.783403px 0 rgba(0, 0, 0, 0.004),
    0 1.92107px 1.92107px 0 rgba(0, 0, 0, 0.01),
    0 3.63429px 3.63429px 0 rgba(0, 0, 0, 0.024),
    0 6.35486px 6.35486px 0 rgba(0, 0, 0, 0.04),
    0 11.0474px 11.0474px 0 rgba(0, 0, 0, 0.07);
  border-radius: 19px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Launch {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.LaunchTextWrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-content: center;
  gap: 13px;
}

.members {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 22px;
  padding: 0px 13px;
  border-radius: 4px;
  background-color: #e2dfe7;
}

.membersWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 20px;
}

.img {
  width: 71px;
  height: 71px;
  border-radius: 10px;
}

.BodyMembers {
  font-weight: 300;
  font-size: 16px;
  color: #404040;
}

.Blue187x62 {
  width: 187px;
  height: 62px;
  background-color: #364590;
  color: white;
  font-weight: 500;
  font-size: 19px;
  border-radius: 19px;
  border: none;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Blue187x62:hover {
  box-shadow: rgba(54, 69, 144, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(54, 69, 144, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(54, 69, 144, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(54, 69, 144, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(54, 69, 144, 0.07) 0px 11.0474px 11.0474px 0px,
    rgba(54, 69, 144, 0.125) 0px 5.249729px 5.249729px 0px,
    rgba(54, 69, 144, 0.2) 0px 10px 10px 0px;
}

@media (max-width: 940px) {
  .Wrapper {
    gap: 20px;
  }
  .ContentWrapper {
    grid-template-columns: 100%;
    justify-items: center;
  }
  .SubWrapper {
    height: 80px;
    width: calc(100% - 10px);
    border-radius: 10px;
    gap: 10px;
    /* padding: 10px 8px; */
    margin-top: 10px;
    justify-content: start;
  }
  .Browse {
    max-width: 950px;
    height: 55px;
    padding: 0px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
  }

  .Heading24px {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .Body24px {
    font-size: 11px;
  }

  .img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .BodyMembers {
    font-size: 11px;
  }
  .members {
    width: auto;
    height: 14px;
    padding: 0px 9px;
  }

  .Blue187x62 {
    width: 75px;
    height: 40px;
    font-weight: 400;
    font-size: 11px;
    border-radius: 5px;
  }
  .Launch {
    gap: 10px;
  }
  .membersWrapper {
    gap: 10px;
  }
  .LaunchTextWrapper {
    gap: 8px;
  }
  .ClientBg {
    width: 54px;
    height: 54px;
    border-radius: 5px;
  }
  .Svg {
    fill: #1e1e1e;
    width: 36px;
  }

  .TextWrapper {
    gap: 8px;
  }
}
