.Wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 27px;
  margin: 0 auto;
  margin-top: 50px;
  /* padding: 10px 10px;
  overflow: hidden; */
}

.MainHeader {
  font-weight: 550;
  font-size: clamp(25px, 7vw, 85px);
  /* line-height: 7vw; */
  text-align: center;
  color: #1e1e1e;
  /* max-width: 65vw; */
}

.ClipWord {
  background: linear-gradient(90.33deg, #374490 0.48%, #723b83 99.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.HeaderBody {
  font-weight: 300;
  font-size: clamp(14px, 2vw, 25px);
  line-height: 30px;
  color: #000;
}

.ButtonBlue187x62 {
  width: 187px;
  height: 62px;
  background: #364590;
  border-radius: 19px;
  color: #ffffff;
  font-weight: 400;
  font-size: 19px;
  border: none;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ButtonBlue187x62:hover {
  box-shadow: rgba(54, 69, 144, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(54, 69, 144, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(54, 69, 144, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(54, 69, 144, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(54, 69, 144, 0.07) 0px 11.0474px 11.0474px 0px,
    rgba(54, 69, 144, 0.125) 0px 5.249729px 5.249729px 0px,
    rgba(54, 69, 144, 0.2) 0px 10px 10px 0px;
}
.ParentWorkSpace {
  position: relative; /* display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
  /* display: none; */
}

.WorkSpaceSVG {
  width: clamp(0px, 90vw, 1100px);
  height: auto;
}

.TaskSVG {
  position: absolute;
  bottom: clamp(0px, 6vw, 90px);
  right: clamp(0px, 4vw, 40px);
  width: clamp(0px, 40vw, 550px);
  height: auto;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.TaskSVG:hover {
  transform: translateY(-20px);
}

.TaskSVG_ {
  position: absolute;
  bottom: clamp(0px, 0vw, 90px);
  right: clamp(0px, 11.8vw, 160px);
  width: clamp(0px, 12vw, 160px);
  height: auto;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.TaskSVG_:hover {
  transform: translateY(-10px);
}

.SectionOne {
  background-color: #fff8fb;
  width: min(calc(100% - 20px), 1200px);
  border-radius: 19px;
  /* height: max(100%, 620px); */
  display: grid;
  grid-template-columns: 60% 40%;
  /* justify-content: center;
  align-items: center; */
}

.ContentSectionOne {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  align-content: center;
  gap: 30px;
}

.ImageSectionOne {
  width: 100%;
  height: auto;
  padding: 30px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.SectionHeader {
  font-weight: 500;
  font-size: clamp(25px, 3vw, 50px);
  text-align: center;
  background: linear-gradient(90.33deg, #374490 0.48%, #723b83 99.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.SectionBox {
  width: min(calc(100%), 400px);
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.SVGTeamGreen {
  width: 60px;
}

.SVGSharing {
  width: 50px;
  padding: 5px;
}

.SVGChannels {
  width: 45px;
  padding: 7.5px;
}

.ContentSectionBox {
  display: grid;
  gap: 5px;
}

.HeaderSectionBox {
  font-weight: 400;
  font-size: clamp(20px, 2vw, 23px);
  color: #000;
}

.BodySectionBox {
  font-weight: 250;
  font-size: clamp(15px, 1.5px, 20px);
  color: #000;
  line-height: 150%;
}

.BodySectionBox_ {
  font-weight: 250;
  font-size: clamp(15px, 1.5px, 20px);
  color: #000;
  text-align: center;
  line-height: 150%;
}

.MobSectionHeader {
  font-weight: 700;
  padding: 3px;
  font-size: clamp(21px, 3vw, 50px);
  background: linear-gradient(90.33deg, #374490 0.48%, #723b83 99.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: none;
}

.SectionTwo {
  background-color: #fff8fb;
  width: min(calc(100% - 20px), 1200px);
  border-radius: 19px;
  /* height: max(100%, 620px); */
  display: grid;
  grid-template-columns: 40% 60%;
  /* justify-content: center;
  align-items: center; */
}

.ImageSectionTwo {
  width: 100%;
  height: auto;
  padding: 30px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.ImageSectionTwoMobile {
  display: none;
}

.SectionThree {
  background-color: #fff8fb;
  width: min(calc(100% - 20px), 1200px);
  border-radius: 19px;
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 30px;
}
.ImageSectionThree {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.SectionThreeContent {
  display: grid;
  grid-template-rows: auto auto auto;
}

.MobSectionThreeContent {
  display: grid;
  grid-template-rows: auto auto;
  display: none;
}

@media (max-width: 600px) {
  .Wrapper {
    gap: 7px;
  }
  .ButtonBlue187x62 {
    width: 120px;
    height: 42px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 10px;
  }
  .WorkSpaceSVG {
    width: 100vw;
    height: auto;
  }
  .SectionOne {
    width: min(calc(100% - 20px), 1200px);
    border-radius: 19px;
    /* height: max(100%, 620px); */
    grid-template-columns: auto;
    /* justify-content: center;
    align-items: center; */
  }
  .SectionBox {
    width: min(calc(100%), 400px);
    border-radius: 8px;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 7px;
    align-items: center;
  }
  .ContentSectionOne {
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    /* padding: 0 5px; */
  }
  .SectionTwo {
    width: min(calc(100% - 20px), 1200px);
    border-radius: 19px;
    /* height: max(100%, 620px); */
    grid-template-columns: auto;
    /* justify-content: center;
    align-items: center; */
  }
}

@media (max-width: 1150px) {
  .SectionOne {
    width: min(calc(100% - 20px), 1200px);
    border-radius: 8px;
    padding: 20px 5px;
    /* height: max(100%, 620px); */
    grid-template-columns: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
  }
  .SectionHeader {
    display: none;
  }
  .ImageSectionOne {
    border-radius: 8px;
    padding: 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    max-width: 600px;
  }
  .MobSectionHeader {
    text-align: center;
    display: block;
  }
  .SectionTwo {
    width: min(calc(100% - 20px), 1200px);
    border-radius: 8px;
    padding: 20px 5px;
    /* height: max(100%, 620px); */
    grid-template-columns: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
  }
  .ImageSectionTwo {
    display: none;
  }
  .ImageSectionTwoMobile {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  }
  .SectionThree {
    width: min(calc(100% - 20px), 1200px);
    padding: 20px 5px;
    /* height: max(100%, 620px); */
    grid-template-columns: auto;
    gap: 20px;
    justify-items: center;
    align-content: center;
  }
  .ImageSectionThree {
    padding: 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    max-width: 600px;
  }
  .SectionThreeContent {
    display: none;
  }
  .MobSectionThreeContent {
    display: block;
  }
}

/* .Wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0 auto;
  padding: 10px 10px;
  overflow: hidden;
}

.WorkspaceImg {
  max-height: 550px;
  width: auto;
}

.Heading {
  font-weight: 700;
  font-size: 85px;
  line-height: 103px;
  color: #1e1e1e;
}

.HeadingSpan {
  background: linear-gradient(90.33deg, #374490 0.48%, #723b83 99.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ContentWrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: center;
  gap: 40px;
}

.greyBody17px {
  font-weight: 500;
  font-size: 17px;
  color: #818386;
  line-height: 20px;
  margin-top: -30px;
}

 */
