.CopyButton {
  /* margin-left: 5px; */
  width: 150px;
  height: 40px;
  padding: 7px;
  background: #364590;
  border: none;
  border-radius: 6px;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 20px;
  color: white;
  font-weight: 250;
  margin-bottom: 8px;
}

.CopyButton:hover {
  box-shadow: rgba(54, 69, 144, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(54, 69, 144, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(54, 69, 144, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(54, 69, 144, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(54, 69, 144, 0.07) 0px 11.0474px 11.0474px 0px,
    rgba(54, 69, 144, 0.125) 0px 5.249729px 5.249729px 0px,
    rgba(54, 69, 144, 0.2) 0px 10px 10px 0px;
}
