.Wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.menuButton {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.LOGO {
  width: 123px;
  height: auto;
}

@media (max-width: 600px) {
  .LOGO {
    width: 90px;
  }
  .Wrapper {
    padding: 10px 10px;
  }
  .menuButton {
    gap: 10px;
  }
}
